<!DOCTYPE html>

<html>
    <head>
            <title>Help</title>
            <link rel="icon" href="/css/download.png">
            <link rel = "Stylesheet" href = "/css/styles.css">
    </head>

    <body>
        <h1>{{title}}</h1>

<header>
    <a href = "/">{{Home}}</a>
    <a href = "/about">{{About}}</a>
    <a href = "/help">{{Help}}</a>
</header>
        <p>{{body}}</p>
        
    </body>
</html>
